<div ng-controller="CardController">
    <h1>
        Cards
    </h1>
    <p>
        Here you can see the current cards you have prepared in the system.
        To add new card details simply press add card and enter any information
        neccessary to this card.

        If you're just playing around you can also import cards from twitter
    </p>

    <div class="card_section">
        <div class="card_choice col-md-4">
            <div class='header'>
                <h3>
                    Available Cards
                </h3>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="addCard()">
                                New <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="input-group"
                        ng-class="{'has-error': twitter.error, 'searching': twitter.searching}">
                        <input
                            ng-model="twitter.search"
                            type="text"
                            class="form-control"
                            placeholder="Import from Twitter"
                        >
                        <span class="input-group-btn">
                            <button
                                class="btn btn-default"
                                ng-click="searchTwitter()"
                                type="button"
                            >
                                Import
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="card_list">
                    <div
                        class="card"
                        ng-repeat="card in cards"
                        ng-class="{'selected': card==currentCard}"
                        ng-click="selectCard($index)">
                        <div class="spacer">
                            <span class="glyphicon left" ng-class="{'glyphicon-hand-right': card==currentCard}"></span>
                        </div>
                        {{card.name}}
                        <span class="glyphicon right" ng-class="{'glyphicon-saved': card.saved}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_details col-md-8">
            <div ng-if="currentCard">
                <div class="header">
                    <h3>Current Card Details</h3>
                    <div>
                        <button class="btn btn-success" ng-click="save()">
                            Save
                            <span class="glyphicon glyphicon-save">
                        </button>
                        <button class="btn btn-danger" ng-click="delete()">
                            Delete
                            <span class="glyphicon glyphicon-remove">
                        </button>
                    </div>
                </div>
                <div class="body">
                    <div class="col-md-12 fixed">
                        <div class="col-md-4">
                            <input type="text" ng-model="$parent.new_attr_name" placeholder="Attribute name" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" ng-model="$parent.new_attr_value" placeholder="Attribute value" />
                        </div>
                        <div class="col-md-4">
                            <div
                              class="btn btn-primary btn-upload"
                              upload-button
                              url="/resource/"
                              on-success="successUpload(response)"
                            >
                                <span class="glyphicon glyphicon-upload"></span>
                            </div>
                            <button class="btn btn-default" ng-click="addAttribute()">
                                <span class="glyphicon glyphicon-add">Add</span>
                            </button>
                        </div>
                    </div>

                    <div class="moves">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                name
                            </div>
                            <div class="col-md-4">
                                <input type="text" ng-model="currentCard.name" />
                            </div>
                        </div>
                        <div class="col-md-12" ng-repeat="(attr_key, attr_value) in currentCard.attributes">
                            <div class="col-md-4">
                                {{attr_key}}
                            </div>
                            <div class="col-md-4">
                                <input type="text" ng-model="currentCard.attributes[attr_key]" />
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-danger" ng-click="removeAttribute(attr_key)">
                                    Remove
                                    <span class="glyphicon glyphicon-remove">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="currentCard==null" class="card_details col-md-6">
                <div class="header">
                    <h3>Select or Create</h3>
                </div>
                <div class="body">
                    No card is selected. Select a card on the left or create a new one to edit its properties here.
                </div>
            </div>
        </div>
    </div>
</div>
