<div ng-controller="PreviewController">
    <div class="col-md-3">
        <h6 id="preview">
            Preview using
            <select class ng-model="selectedCard" ng-options="card.name for card in cards">
                <option value="">-- choose card --</option>
            </select>
        </h6>
        <div style="width:{{current_layout.width}}px;height:{{current_layout.height}}px;position:relative;">
            <div style="
                    {{layer.style_sheet}}
                    {{layer.background_image | image_filter}}
                "
                ng-repeat="layer in current_layout.convertedLayers">
                {{layer.text}}
            </div>
        </div>
    </div>
</div>
