.main-section {
    float:left;
    clear:both;
}

.left {
    float:left;
}

.right {
    float:right;
}

.spacer {
    min-width:20px;
    min-height:20px;
    float:left;
}

.searching .form-control {
    border-color: blue;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
