.template_list {
    list-style-type: none;
}
.template_list li.selected{
    border: 1px solid black;
}
.template_list li.saved{
    background:green;
}


.base_placeholder {
    float:left;
    background:pink;
    overflow:hidden;
    position:relative;
}

.base_placeholder > .layer.selected {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
}

.layers {
    background:gray;
}

.layers > div {
    float:left;
    width:90%;
    height:25px;
    margin-bottom:5px
    background:silver;
    text-align:center;
    line-height:25px;
}
.layers > div:hover {
    cursor: pointer;
}
.layers > div.selected {
    font-weight:bold;
    color:red;
    background:pink;
}


.inline {
    display: inline;
}
