.searching_false {
    display:None;
}
.error_false {
    display:None;
}
.card {
    float: left;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}


.card .name {
    width:100%;
    text-align:center;
}

.card .image_placeholder {
    width:100%;
    height:50%;
}

.card .image_placeholder .image {
    height:100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.attribute .label {
    clear:both;
    float:left;
    font:bold;
}

.attribute .value {
    float:right;
    font:bold;
}

.twitter_section {
    clear:both;
    float:left;
}
